<h1>Invoices#show</h1>
<p>Find me in app/views/invoices/show.html.erb</p>
<h1>Invoice Details</h1>
<p><strong>Product:</strong> <%= @invoice.product.name %></p>
<p><strong>Quantity:</strong> <%= @invoice.quantity %></p>
<p><strong>Total:</strong> <%= @invoice.total %></p>
