


<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold">Productcategories</h1>

    <%= link_to new_productcategory_path, class: button_class(theme: "primary") do %>
    Add New Productcategory
    <% end %>
  </div>

  
  <table class="table-auto border-collapse border-blue-500 w-full dark:border-dark-blue-500 bg-blue-100 dark:bg-blue-800">
  
    <thead class="bg-blue-50 dark:bg-blue-700">
      <tr>
        
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-blue-500 dark:text-green-500 text-left">Name</th>


        
      <th class="border border-slate-300 dark:border-slate-600 font-semibold p-4 text-blue-500 dark:text-green-500 text-left">Description</th>

                
      </tr>
    </thead>

    <tbody>
      <% @productcategories.each do |productcategory| %>
      <%= content_tag :tr, id: dom_id(productcategory), class: dom_class(productcategory) do %>
      
        <td class="border border-blue-300 dark:border-blue-700 p-4 text-blue-500 dark:text-blue-400"><%= link_to productcategory.name, productcategory %></td>
      

              <td class="border border-blue-300 dark:border-blue-700 p-4 text-blue-500 dark:text-blue-400"><%= productcategory.description %></td>
      
      
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
